{% extends 'sunbit/base.html' %}

{% block content %}

<div class="container-fluid mt-4 text-black bg-light p-3 mt-2 mb-2">
    <h6 class="text-center">
        <b>Please select the following recharge channel</b>
    </h6>
<a href="recharge.html" class="text-decoration-none">
<div class="container bg-light p-2 mt-3">
    <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
    <span class="text-black p-1" style="margin-left: 5px;"><b>BTC</b></span>
    <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
</div>
</a>
<a href="#" class="text-decoration-none">
  <div class="container bg-light p-2">
    <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
    <span class="text-black p-1" style="margin-left: 5px;"><b>USDT(ERC20)</b></span>
    <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
  </div>
</a>
<a href="#" class="text-decoration-none">
<div class="container bg-light p-2">
    <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
    <span class="text-black p-1" style="margin-left: 5px;"><b>USDT(TRC20)</b></span>
    <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
</div>
</a>
<a href="#" class="text-decoration-none">
<div class="container bg-light p-2">
    <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
    <span class="text-black p-1" style="margin-left: 5px;"><b>ETH</b></span>
    <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
</div>
</a>
<a href="#" class="text-decoration-none">
<div class="container bg-light p-2">
    <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
    <span class="text-black p-1" style="margin-left: 5px;"><b>USDC</b></span>
    <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
</div>
</a>
<a href="#" class="text-decoration-none">
<div class="container bg-light p-2">
    <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
    <span class="text-black p-1" style="margin-left: 5px;"><b>BANK</b></span>
    <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
</div>
</a>
</div>





<!-- Third Party -->

<div class="container-fluid mt-5 text-black bg-light p-3 mt-2 mb-2">
  <h6 class="text-center">
      <b>Third party recharge channel</b>
  </h6>
  <a href="recharge.html" class="text-decoration-none">
    <div class="container bg-light p-2 mt-3">
        <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
        <span class="text-black p-1" style="margin-left: 5px;"><b>BTC</b></span>
        <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
    </div>
    </a>
    <a href="#" class="text-decoration-none">
      <div class="container bg-light p-2">
        <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
        <span class="text-black p-1" style="margin-left: 5px;"><b>USDT(ERC20)</b></span>
        <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
      </div>
    </a>
    <a href="#" class="text-decoration-none">
    <div class="container bg-light p-2">
        <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
        <span class="text-black p-1" style="margin-left: 5px;"><b>USDT(TRC20)</b></span>
        <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
    </div>
    </a>
    <a href="#" class="text-decoration-none">
    <div class="container bg-light p-2">
        <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
        <span class="text-black p-1" style="margin-left: 5px;"><b>ETH</b></span>
        <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
    </div>
    </a>
    <a href="#" class="text-decoration-none">
    <div class="container bg-light p-2">
        <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
        <span class="text-black p-1" style="margin-left: 5px;"><b>USDC</b></span>
        <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
    </div>
    </a>
    <a href="#" class="text-decoration-none">
    <div class="container bg-light p-2 mb-4">
        <img src="https://static.vecteezy.com/system/resources/previews/008/505/801/original/bitcoin-logo-color-illustration-png.png" width="40" height="40">
        <span class="text-black p-1" style="margin-left: 5px;"><b>BANK</b></span>
        <span calss="text-black p-1" style="float: right; color: #333; margin-right: 10px;"><b>go to buy</b><i class="material-icons">chevron_right</i></span>
    </div>
    </a>
    </div>
</div>

<!-- Done Third Party-->



{% endblock %}